.main_chat
  .main_chat__header
    .main_chat__header__contents
      .main_chat__header__contents__group_name
        = @group.name
      .main_chat__header__contents__member
        = "Member:"
        - @group.users.each do |user|
          = "#{user.name}"
    .main_chat__header__btn
      = link_to edit_group_path(@group), class: "main_chat__header__btn--edit" do
        Edit
  .main_chat__contents
    = render @messages
  .main_chat__form
    = form_for [@group, @message] do |f|
      .main_chat__form__content
        = f.text_field :content, class: "main_chat__form__content__text", placeholder: "type a message"
        = f.label :image, class: "main_chat__form__content__input" do
          = icon('fas', 'image')
          = f.file_field :image, style: "display: none;"
        = f.submit value: "Send", class: "main_chat__form__content__submit"