.side_bar
  .side_bar__header
    .side_bar__header__name
      = current_user.name
    .side_bar__header__icon
      =link_to new_group_path, class: "side_bar__header__icon side_bar__header__icon--edit" do
        = icon('fas', 'edit', class: "header__icon")
        %span<>
      =link_to edit_user_path(current_user), class: "side_bar__header__icon side_bar__header__icon--setting" do
        =icon('fas', 'cog', class: "header__icon")
  .side_bar__contents
    .side_bar__contents__content
      - current_user.groups.each do |group|
        .side_bar__contents__content__name
          = link_to group_messages_path(group) do
            = group.name
        .side_bar__contents__content__message
          = group.show_last_message